$color: #fff;
body {
  background: $color;
  user-select: none;
}
img {
  -webkit-user-drag: none;
}

.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255,255,255,.2);
    border-radius: 6px
}